<div class="modal fade" id="updateMemberModal-{{member.mid}}" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Member</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{url_for('update_mem')}}" method="POST">
                	<div class="form-group">
                		<label>Name:</label>
                		<input type="hidden"  name="mid" value="{{member.mid}}">
                		<input type="text" class="form-control" name="name" value="{{member.name}}" required="1">
                	</div>
                	<div class="form-group">
                		<label>Username:</label>
                		<input type="text" value="{{member.member_name}}" class="form-control" name="member_name" required="1">
                	</div>
                	<div class="form-group">
                		<label>Phone Number:</label>
                		<input type="text" value="{{member.phone_num}}" class="form-control" name="phone_num" required="1">
                	</div>
                	<div class="form-group">
                		<label>Total paid:</label>
                		<input type="text" value="{{member.total_paid}}" class="form-control" name="total_paid" required="1">
                	</div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-dark">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
