/*NAVBAR STYLING*/
.container-fluid{
	background-color:#2a2a2a; 
}
.nav-link{
	font-family: 'Poiret One';
}

.nav-link:hover {
  background-color: #202020;
  padding:2em;


}
body{
  background-color:#2a2a2a;
}
/*TYPEWRITER EFFECT STARTS*/

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.boda{
	padding-top: 1em;
  display: flex;
  justify-content: center;
}
/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color:white;
  font-family: 'Poiret One';
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .10em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 1.5s steps(50, end),
    blink-caret .5s step-end infinite;

}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 992px) {
.typewriter h1{
   
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #2a2a2a }
}

@media screen and (max-width: 920px){
    .typewriter h1 {   	
    color:white;
	font-family: 'Poiret One';
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .10em solid orange; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: typing 1.5s steps(20, end),
	blink-caret .5s step-end infinite;    
	font-size: 20px;
	}
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

  @keyframes blink-caret {
    from, to { border-color: transparent }
  50% { border-color:#2a2a2a }
}

/*TYPEWRITER EFFECT ENDS*/

.test h1{
  color:black;
}

.content{
  color:white;
}
.table{
  color:white;
}
.operation{
  margin: 1rem 0 0 1rem;
  position: relative;
  left: 70%;
}
.operationimport{
  margin: 1rem 0 0 1rem;
  position: relative;
  left: 89%;
}
.operation1{
  margin: 1rem 0 0 1rem;
  position: relative;
  left: 40%;
  color:white;
}

.table{

  margin-top: 2rem;
}

.jinjo{
  color:white;
}
.memberop{
  margin: 1rem 0 0 1rem;
  position: relative;
  left: 79%;

}
.operation2{
  color:white;
}

.operationsearch{
  margin: 1rem 0 0 1rem;
  position: absolute;
  left: 59%;
}