<div class="modal fade" id="returnBookModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Return Book From:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/searchret" method="POST">
                <div class="input-group">
                <input type="search" class="form-control rounded" name="q" placeholder="Search Username..." aria-label="Search"
                    aria-describedby="search-addon" />
                
                </div>
        </form>
        </div>
    </div>
</div>
